.member-create-panel {
  display: flex;
  flex-wrap: wrap;
  .title {
    font-size: 18px;
    line-height: 40px;
    width: 100%;
    font-weight: 700;
    border-bottom: 1px dashed #999999;
    margin-bottom: 10px;
  }
  .input-filed {
    width: 260px;
    margin-bottom: 10px;
    span{
      display: inline-block;
      width: 60px;
      font-weight: bold;
      text-align: right;
    }
    .ant-input {
      width: 180px;
      display: inline;
      margin-left: 10px;
    }
  }
}
